{{ define "navbar" }}

<div class="navbar bg-base-100/90 justify-center sticky top-0 z-10 backdrop-blur-sm">
    <a class="btn btn-ghost" href="/">About Me</a>
    <a class='btn btn-ghost' href="/projects">Projects</a>
    <a class='btn btn-ghost' href="/international">International</a>
    <a class='btn btn-ghost relative' href="https://home.cedoromal.com/" target="_blank">
        <label>Self-Hosted</label>
        <span class="absolute top-0 right-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
        </span>
    </a>
    <a class='btn btn-ghost relative' href="https://files.cedoromal.com/Doromal_Resume.pdf" target="_blank">
        <label>Resume</label>
        <span class="absolute top-0 right-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
        </span>
    </a>
</div>

{{ end }}